*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}
#container{
    background-color:#EDEDCE;
    border: 1px solid #1C4D8D;
    border-radius: 5px;
    width: 75%;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
}
#input-holder{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1C4D8D;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}
#input-element{
    width: 15%;
    margin-top: 15px;
    border: none;
    border-radius: 2.5px;
    padding: 15px ;
    color: #1C4D8D;
    font-size: 1.4em;
}
#get-result-btn{
    color: #1C4D8D;
    font-size: 1.1em;
    border: none;
    border-radius: 2.5px;
    margin-top: 15px;
    padding: 7.5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #1C4D8D;
}
#get-result-btn:hover{
   background-color: #BDE8F5;
   color: #1C4D8D;
   border: 1px solid #BDE8F5;
}
#converter-results-holder{
    border-end-end-radius: 2.5px;
    border-end-start-radius: 2.5px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unit-results{
    background-color: #fff;
    border-radius: 2.5px;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 15px;
    width: 90%;
}
.unit-results:first-of-type{
    margin-top: 25px;
}
.unit-results:last-of-type{
    margin-bottom: 25px;
}
.results-heading{
    color: #1C4D8D;
    font-size: 1.2em;
    margin-bottom: 15px;
}
.results{
    font-size: 1em;
    text-align: center;
}